<div class="main">
  <div class="header">
    <span class="headerText">PI durch Zufall bestimmen</span>
  </div>
  <div class="settings">
    <mat-slider min="1" max="10000" step="5" value="1000" #customvalue></mat-slider>
    <span>Versuche: {{customvalue.value}}</span><br>
    <button mat-flat-button (click)="generiere(customvalue.value)">Berechnen</button>
  </div>
  <div class="boxes">
    <div class="box space"><span class="subText"><div class="title">PI</div>{{pi}}</span></div>
    <div class="box space"><span class="subText"><div class="title">Abweichung</div>{{abweichung}}%</span></div>
    <div class="box"><span class="subText"><div class="title">Treffer</div>{{treffer}}</span></div>
  </div>
  <div class="coordSys">
    <canvas class="chart" baseChart
      [datasets]="scatterChartData"
      [options]="scatterChartOptions"
      [chartType]="scatterChartType">
    </canvas>
  </div>
</div>
<div class="footer">
  <div class="footerText left">IDAF Mathematik</div>
  <div class="footerText right">&copy; Maxim Hüsler 2020</div>
</div>

